{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

    {% block extra_head %}
    <style type="text/css">
.hrLine{
    vertical-align:middle; display:inline-block;
}
</style>
    {% endblock %}

{% block content %}


          <h2 class="text-center">{% trans "Sign In" %}</h2>
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <input class="pull-right btn btn-info btn-sm " type="submit" value="登录"/>
          </form>

          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}

          <div class="socialaccount_ballot text-center">
            <br/>


            <hr class="hrLine" style="width:30%;"/>  <span style="width: 10%">第三方登录</span>  <hr class="hrLine" style="width:30%;"/>

            <div class="row">
            <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
            <table>
            <tr class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </tr>
            </table>
              </div>
            </div>

          </div>

          <div>
          <p>还没有账号？请
          <a href="{{ signup_url }}">注册</a></p>
          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% endif %}


{% endblock %}
